.welcome_text{
    margin-top: 30px;
    text-align: center;
    color: white;
    font-size: 40px;
}

.h2_text{
    margin-top: 30px;
    text-align: center;
}

.mars{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mars_image{
    width: 300px;
    height: 300px;
}

.dev_by{
    text-align: center;
    color: white;
    font-size: 20px;

}
.body-index{
    background-image: url("/static/images/space-background-website\ \(1\).jpeg");
}

.actor_img{

    width: 170px;
    height: 246px;
}

.actor-charact{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding-bottom: 10px;
}

.tittle-act-char{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
    font-size: 60px;

}


/*    card   */
.container_card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 20px;
    margin-bottom: 20px;
}
.container_card_ind{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    row-gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

    .body_card{
    margin: 0px;
    padding: 0px;
    background: #f1f1f1;
    font-family: arial;
    box-sizing: border-box;
    }
    .card-container{
    width: 400px;
    height: 480px;
    background: #FFF;
    border-radius: 6px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 1px 10px 1px #000;
    overflow: hidden;
    display: inline-block;
    }
    .upper-container{
    height: 150px;
    background: #3d0669;
    }
    .upper-container-char{
    height: 150px;
    background: #db5d09;
    }
    .image-container{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 5px;
    transform: translate(110px,5px);
    }
    .image-container img{
    width: 170px;
    height: 180px;
    border-radius: 50%;
    }
    .lower-container{
    height: 280px;
    background: #FFF;
    padding: 20px;
    padding-top: 40px;
    text-align: center;
    }
    .lower-container-char{
    height: 340px;
    background: rgb(180, 175, 175);
    padding: 20px;
    padding-top: 40px;
    text-align: center;
    }
    .lower-container-char a{
        padding-bottom: 20px;
    }
    .lower-container h3, h4{
    box-sizing: border-box;
    line-height: .6;
    font-weight: lighter;
    padding-top: 20px;
    }
    .lower-container-char h3, h4{
    box-sizing: border-box;
    line-height: .6;
    font-weight: lighter;
    padding-top: 20px;
    }
    .lower-container h4{
    color: #7F00FF;
    opacity: .6;
    font-weight: bold;
 
    }
    .lower-container-char h4{
    color: #7F00FF;
    opacity: .6;
    font-weight: bold;
    padding: 0px;
    }
    
    .lower-container p{
    font-size: 16px;
    color: rgb(78, 75, 75);
    margin-bottom: 10px;
    }
    .logo-container{
        justify-content: space-between;
    }
    .ares-nasa-logo{
        width: 60px;
        height: 60px;
    }
    #h3-char{
        color: #22248f;
    }
    .lower-container .btn{
    padding: 12px 20px;
    background: #7F00FF;
    border: none;
    color: white;
    border-radius: 30px;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    transition: all .3s ease-in;
    }
    .lower-container .btn:hover{
    background: transparent;
    color: #7F00FF;
    border: 2px solid #7F00FF;
    }


.awards-movies_cont{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    
}
.movies{
    width: 400px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    box-shadow: 0px 1px 10px 1px #000;
    border-radius: 6px;
}
.awards{
    width: 400px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    box-shadow: 0px 1px 10px 1px #000;
    border-radius: 6px;
}
.upper-act{
    background-color: #3d0669;
    color: #FFF;
    margin-bottom: 10px;
}
