.welcome_text{
    margin-top: 30px;
    text-align: center;
    color: white;
    font-size: 40px;
}

.h2_text{
    margin-top: 30px;
    text-align: center;
}

.mars{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mars_image{
    width: 300px;
    height: 300px;
}

.dev_by{
    text-align: center;
    color: white;
    font-size: 20px;

}
.body-index{
    background-image: url("/static/images/space-background-website\ \(1\).jpeg");
}

.actor_img{
    margin-bottom: 10px;
    width: 170px;
    height: 246px;
}