{% include 'header.html' %}
{% include 'navbar.html' %}
    <body>
        <h1 class="tittle-act-char">Developer Info</h1>

        <div class="dev-cont">
            <div class="dev-info" >
                <div class="info-dev">
                    <div class="upper-me">
                        <img class="photo-dev" src="https://upload.wikimedia.org/wikipedia/commons/8/8c/Cristiano_Ronaldo_2018.jpg" alt="dev-photo">                
                    </div>
                    <div class="lower-me">
                        <p>Name: Diego Torres</p>
                        <p>ID: 67000476</p>
                        <p>Profession: Systems Engineer</p>
                        <p>Country: Colombia</p>
                    </div>
                </div>
                <div class="description">
                    <h3>Description</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus et totam quod ab quisquam voluptatum. Sunt dolor expedita officia a sequi exercitationem, facilis eius reprehenderit fuga veniam amet quas aut?</p>
                </div>
            </div>
        </div>
    </body>
{% include 'footer.html' %}