{% include 'header.html' %}
{% include 'navbar.html' %}
    <body>
        <h1 class="tittle-act-char">Developer Info</h1>

            <figure class="img-dev">
                <img class="photo-dev" src="https://upload.wikimedia.org/wikipedia/commons/8/8c/Cristiano_Ronaldo_2018.jpg" alt="dev-photo">                
            </figure>
            
        <div class="dev-info" >
            <div class="info-dev">
                <h3>Name: Diego Torres</h3>
                <h4>ID: 67000476</h4>
                <h4>Profession: Systems Engineer</h4>
                <h4>Country: Colombia</h4>
            </div>
        </div>

    <div class="dev-info-desc" >
            <div class="description">
                <h3>Description</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus et totam quod ab quisquam voluptatum. Sunt dolor expedita officia a sequi exercitationem, facilis eius reprehenderit fuga veniam amet quas aut?</p>
            </div>
        </div>



    </body>
{% include 'footer.html' %}