{% include 'header.html' %}
{% include 'navbar.html' %}
    <body>
        <h1 class="tittle-act-char">Developer Info</h1>

        <div class="dev-cont">
            <div class="dev-info" >
                <div class="info-dev">
                    <div class="upper-me">
                        <img class="photo-dev" src="/static/images/Astr.jpg" alt="dev-photo">                
                    </div>
                    <div class="lower-me">
                        <img class="ares-nasa-logo" src="/static/images/ares-logo.png" alt="ares-logo">
                        <img class="ares-nasa-logo" src="/static/images/nasa_logo.png" alt="ares-logo">
                        <p>Name: Diego Torres</p>
                        <p>ID: 67000476</p>
                        <p>Profession: Systems Engineer</p>
                        <p>Country: Colombia</p>
                    </div>
                </div>
                <div class="description">
                    <h3>Description</h3>
                    <p>I am a mission specialist for the ares iv mission, I am in charge of the management 
                        and maintenance of the ship's software. I am currently completing my training at the 
                        SpaceX center in Texas to prepare for the start of the mission.</p>
                    <i class="fa-solid fa-space-shuttle  fa-2x"></i>
                </div>
            </div>
        </div>
    </body>
{% include 'footer.html' %}