
   <body class="body_card">
      <div class="card-container">
         <div class="upper-container">
            <div class="image-container">
               <img src="/static/images/{{actor.picture}}" alt="actor image">
            </div>
         </div>
         <div class="lower-container">
            <div>
               <h3>{{actor.first_name}} {{actor.last_name}}</h3>
               <p>ID: {{id}} </p>
               <p>Age: {{edad(actor.born_year)}}</p>
               <h4>{{actor.instagram}}</h4>
               <div>
                  <a href="/actor/{{id}}" class="btn">View profile</a>
               </div>
   
            </div>
         </div>
      </div>
   </body>
