{% include 'header.html' %}
{% include 'navbar2.html' %}

<h1 class="tittle-act-char">Actors from The movie</h1>

<div class="container-fluid" style="display: grid;grid-template-columns: repeat(3,1fr);">

    {% for id, actor in actors %}
        <div class="row justify-content-center" style="text-align: center; " >
            <div class="col col-sm-10" style="border: 1px solid black; margin: 1em; border-radius: 10px; padding: 0px;">
                {% include 'actor.html' %}
            </div>
</div>
    {% endfor %}
</div>

{% include 'footer.html' %}
