{% include 'header.html' %}
{% include 'navbar2.html' %}

<div class="container-fluid">

    {% for id, actor in actors %}
        <div class="row justify-content-center" style="text-align: center;">
            <div class="col col-sm-6" style="border: 1px solid black; margin: 1em; border-radius: 10px">
                {% include 'actor.html' %}
            </div>
</div>
    {% endfor %}
</div>

<div class="container-fluid">

    {% for id, character in characters %}
        <div class="row justify-content-center" style="text-align: center;">
            <div class="col col-sm-6" style="border: 1px solid black; margin: 1em; border-radius: 10px">
                {% include 'character.html' %}
            </div>
</div>
    {% endfor %}
</div>


<div class="container-fluid">

    <div class="row justify-content-center" style="text-align: center;">
        <div class="col col-sm-6" style="border: 1px solid black; margin: 1em; border-radius: 10px">
            <h2>{{actor["first_name"]}} {{actor["last_name"]}}</h2>
            <p> {{actor["born_day"]}}/{{actor["born_month"]}}/{{actor["born_year"]}}</p>
            <p>Id: {{id}}</p>
            <p>Instagram: {{actor["instagram"]}} </p>
        </div>
    </div>



</div>



{% include 'footer.html' %}
